*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header{
      height:100px;
      width: 100%;
      background-color: rgb(82, 74, 74);
  }

  .button-h{
      text-transform: uppercase;
      border: 1px solid white;
      border-radius: 20px;
      padding: 10px 30px;
      background-color: transparent;
      color: white;
      position: fixed;
      z-index: 666;
      right: 0px;
      margin-top: 20px;
  }

  /* aside{
      width: 20%;
      height: 90%;
      background-color: black;
  } */