*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
      height: 100vh;
      width: 100vw;
  }

   /* menu fixed */
  .menu-fixed{
      height: 50px;
      width: 90%;
      background-color: rgba(0, 0, 0, 0.7);
      position: fixed;
      z-index: 666;
      top: 0px;
      right: 0px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  }

  .button-h{
      text-transform: uppercase;
      border: 1px solid white;
      border-radius: 20px;
      padding: 10px 30px;
      background-color: transparent;
      color: white;
  }

  .central-part{
      display: flex;
      height: 100vh;
      width: 100vw;
  }
    /* aside */
    .aside{
      width: 10%;
      height: 90%;
      background-color: black;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
  }

  .central-part img{
     transform: scale(0.7);
  }

  .svg-profile{
      background-color: grey;
      border-radius: 50%;
  }

  /* main-scroll */

  .main-scroll{
      width: 90%;
      height: 80%;
      margin-top: 50px;
      background-color: lightslategray;
      overflow-y: auto;
  }

  .main-scroll ul li a{
      text-transform: uppercase;
  }

  /* .menu-scroll{
      display: flex;
  } */

  /* sezione immagini */

  .main-images{
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
  }

  .banana{
    width: calc((100% / 2) - 5px);
    margin-bottom: 10px;
  }

  .song-img{
    height: 150px;
    background-image: url("../images/aquietplace.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .text{
      text-align: center;
  }


