*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .menu-fixed{
      height:100px;
      width: 90%;
      background-color: rgba(0, 0, 0, 0.7);
      position: fixed;
      z-index: 666;
      top: 0px;
      right: 0px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  }

  .button-h{
      text-transform: uppercase;
      border: 1px solid white;
      border-radius: 20px;
      padding: 10px 30px;
      background-color: transparent;
      color: white;
      
  }

  /* aside{
      width: 20%;
      height: 90%;
      background-color: black;
  } */